@using Amil.AsmWebCad.UI.Resources;
@model Amil.AsmWebCad.UI.Models.EspecialidadeNowModel



@{
    ViewBag.Title = "Especialidade Now";  // Resource.Perfil_Titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section SectionHead{
    @Scripts.Render("~/bundles/especialidadenow")

    <script type="text/javascript">
        $(document).ready(function () {
            Especialidade.Urls.PesquisaEspecialidades = '@Url.Action("Pesquisa", "EspecialidadeNow")';
            Especialidade.Urls.ManutencaoEspecialidade = '@Url.Action("Manutencao", "EspecialidadeNow")';
            Especialidade.Urls.ExclusaoEspecialidade = '@Url.Action("Exclusao", "EspecialidadeNow")';
            Especialidade.Urls.IncluirEspecialidade = '@Url.Action("Incluir", "EspecialidadeNow")';
            Especialidade.Urls.ValidarAcessoPesquisa = '@Url.Action("ValidarAcesso", "EspecialidadeNow")';

            Especialidade.Titulo = 'Especialidade Now';

            Especialidade.Mensagens.ConfirmacaoExclusao = '@Resource.MensagemConfirmacaoExclusaoEditavel';
            Especialidade.Mensagens.PreenchaDescricao = '@Resource.MensagemPreenchaNome';
            
            PesquisaEspecialidade.Mensagens.SucessoExclusao = '@Resource.MensagemSucessoExclusao';
            PesquisaEspecialidade.Mensagens.ConfirmacaoExclusao = '@Resource.MensagemConfirmacaoExclusao';
            PesquisaEspecialidade.Mensagens.PreenchaSistema = '@Resource.MensagemPreenchaSistema';
            PesquisaEspecialidade.Inicializar();

            $("#txtCodigoFiltro").on("input", function () {
                $(this).val(this.value.toUpperCase());
             
            });           

        });


    </script>
}

<div class="panel-full">
    <div class="pull-left">
        <div class="form-actions">
            <button title="@Resource.TituloBotaoNovo" id="btnInserir" class="btn btn-primary btnBotaoGridDireita" type="button" onclick="PesquisaEspecialidade.Incluir();">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </div>
    </div>
    <div id="dttEspecialidades" class="dataTables_wrapper form-inline">
        <table id="grvEspecialidades" style="cursor: pointer" data-dtid="idEspecialidade" class="table table-striped table-bordered dataTable">
            <thead>
                <tr>
                    <th data-dtaction="Acoes" data-column-class="align-mid width-2">@Resource.Acoes</th>
                    <th data-dtcolumn="Specialty" data-column-class="align-left width-40">@Resource.Nome</th>
                    <th data-dtcolumn="Acronym" data-column-class="align-mid width-10">Sigla</th>
                    <th data-dtcolumn="SpecialtyId" data-column-class="hide" ></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
